<h1>Edit kontak</h1>

<% if (typeof errors != 'undefined') { %>
    <div class="alert alert-primary" role="alert">
     <ul>
      <% errors.forEach(e => { %>
        <li><%= e.msg %></li>
      <% }) %>
     </ul>
    </div>
  <% } %>

<form action="/contact/edit" method="post">
    <input type="hidden" name="oldNama" id="nama" placeholder="Masukan nama..." value="<%=  contact.oldNama || contact.nama %>">
    <div class="">
        <label for="nama">Nama :</label>
        <input type="text" name="nama" id="nama" placeholder="Masukan nama..." value="<%= contact.nama %>">
    </div>
    <br>
    <div class="">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" placeholder="Masukan email..." value="<%= contact.email %>">
    </div>
    <br>
    <div class="">
        <label for="no">Nomer Telepon :</label>
        <input type="number" name="no" id="no" placeholder="Masukan no..." value="<%= contact.no %>">
    </div>
    <div class="">
        <button type="submit">Ubah</button>
    </div>
    <br>
   
</form>